<footer id="footer"   class="section section-grey ml" style="padding-top: 0px; 
     padding-bottom: 0px;background: #313030;">
		<!-- container -->
		
			<!-- /row -->
		</div>
		<!-- /container -->
	</footer>
	
	<!-- /FOOTER 
	
	<script src="client.js"></script>
	-->
	<!-- jQuery Plugins -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    
	<script src="https://cdn.jsdelivr.net/npm/vanilla-lazyload@10.19.0/dist/lazyload.min.js"></script>
	<script src="js/jquery.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/slick.min.js"></script>
	<script src="js/nouislider.min.js"></script>
	<script src="js/jquery.zoom.min.js"></script>
	<script src="js/main.js"></script>

</body>
<script>
    var objDiv = document.getElementById("scrl");
objDiv.scrollTop = objDiv.scrollHeight;
    new LazyLoad();
    </script>
</html>
